<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
    <v-app id="app">
        <v-app-bar app prominent>
            <v-row no-gutters style="align-self: center;">
                <v-text-field 
                    label="Search for git user repo" 
                    placeholder="Please input" 
                    v-model="input"
                    append-outer-icon="mdi-send"
                    @click:append-outer="clearSearch();searchUser();"
                >
                </v-text-field>
            </v-row>
        </v-app-bar>
        <v-main>
            <v-container fluid>
                <span v-if="errMsg !== ''">{{ errMsg }}</span>
                <v-timeline v-else-if="repos.length > 0">
                    <v-timeline-item
                    v-for="(repo, index) in repos"
                    :key="index"
                    small
                    right
                    >
                    <span slot="opposite">{{ convertDateFormat(repo.created_at) }}</span>
                    <v-card >
                        <v-card-title :href="repo.html_url">
                            <a :href="repo.html_url">{{repo.name}}</a>
                            <v-icon>mdi-star-outline</v-icon>
                            <span>{{repo.stargazers_count}}</span>
                        </v-card-title>
                        <v-card-text>
                            {{repo.description}}
                        </v-card-text>
                    </v-card>
                    </v-timeline-item>
                </v-timeline>
            </v-container>
        </v-main>
    </v-app>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data:{
            input: '',
            direction: 'desc',
            repos: [],
            perPage: 10,
            sort: 'created',
            page: 1,
            bottom: false,
            errMsg: '',
            loading: false
        },
        methods:{
            searchUser(){
                if (this.bottom) return;
                this.loading = true;
                axios.get(`https://api.github.com/users/${this.input}/repos?per_page=${this.perPage}&sort=${this.sort}&page=${this.page}&direction=${this.direction}`)
                .then(res => {
                    if (this.page === 1 && res.data.length === 0) {
                        this.errMsg = 'This user has no repository.';
                        return;
                    }
                    this.repos = this.repos.concat(res.data);
                    res.data.length < 10? this.bottom = true: this.page++;
                })
                .catch(err => {
                    this.errMsg = err.response.data.message;
                })
                this.loading = false;
            },
            scroll(){
                window.onscroll = () => {
                    let bottomOfWindow = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop) + window.innerHeight === document.documentElement.offsetHeight;
                    if (bottomOfWindow) {
                        this.searchUser();
                    }
                }

            },
            clearSearch(){
                this.errMsg = '';
                this.page = 1;
                this.repos = [];
                this.bottom = false;
            },
            convertDateFormat(timestamp){
                const date = new Date(timestamp);
                let day = date.getDate();
                if (day < 10) day = '0' + day;
                let month = date.getMonth() + 1;
                if (month < 10) month = '0' + month;
                return date.getFullYear() + '-' + month + '-' + day;
            }
        },
        mounted(){
            this.scroll();
        }
    })
</script>
<style> 
</style>
</html>

